.input_text{
    background-color: #D8C3A5;
    font: var(--font-rune);
    border: solid #000000 3px;
    flex-grow: 1;
    height: 50px;
    width: 100%; 
    min-width: 0; 
    /* box-shadow: inset 10px 0 5px rgba(0, 0, 0, 0.5);  */
    font-size: 25px;
    border-radius: 5px;
    outline: none;
    /* padding-right: 40px; */
    
}
.text_input{
    box-shadow: inset 0px 0 5px rgba(0, 0, 0, 0.5); 

}
div{
    width: 100%;

}