#root{
  height: 80%;
  width: 100%;
  margin: 0;
  padding: 0;
  /* --font-rune: 'VT323', sans-serif; */
  /* border:solid blue; */
}
:root {
  --font-rune: 'VT323', sans-serif;
}
body {
  background-color: black;
  background-image: url("./assets/background.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size:cover;
  color: white;
  margin: 0;
  display: flex;
  place-items: center;
  height: screen;
  width: 100%;
  /* border:solid red; */
    margin: 0;
  padding: 0;
  height: 100%;
  font-family: var(--font-rune);
}
html {
    height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
   font-family: var(--font-rune);
  /* border:solid purple; */
}
@font-face {
  font-family: "VT323",sans-serif;
  src: local("VT323"),url('.assets/fonts/VT323-Regular.ttf'),format('truetype');
  font-weight: normal;
  font-style: normal;
}
